<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ebook</display-name>
  
  <context-param>
  	<param-name>baseURL</param-name>
  	<param-value>http://localhost:8080/ebook</param-value>
  </context-param>
  <context-param>
  	<param-name>hostURL</param-name>
  	<param-value>http://localhost:8080</param-value>
  </context-param>
  
  <context-param>
  	<param-name>salt</param-name>
  	<param-value>mysecret</param-value>
  </context-param>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/404.jsp</location>
  </error-page>
<!--   <error-page>
  	<error-code>500</error-code>
  	<location>/error/500.jsp</location>
  </error-page> -->
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>